<div class="main-container">
  <div class="side-menu">
    <a routerLink="/pages/account"><div class="account-container">
      <img id="profile-image" (load)="loadedImage()" class="profile-image" src="http://help.wojilu.com/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg">
    </div></a>
    <div class="menu-list">
      <div id="badge" [attr.data-count]="notificationCount | async" class="menu-icon badge">
        <i [class]="notificationClass | async"></i>
      </div>
      <a class="menu-icon" routerLink="/pages/home" routerLinkActive="active">
        <i class="fas fa-home"></i>
      </a>
      <a class="menu-icon" routerLink="/pages/displays" routerLinkActive="active">
        <i class="fas fa-desktop"></i>
      </a>
      <a class="menu-icon" routerLink="/pages/clients" routerLinkActive="active">
        <i class="fas fa-users"></i>
      </a>
      <a class="menu-icon" routerLink="/pages/metrics" routerLinkActive="active">
        <i class="fas fa-chart-line"></i>
      </a>
      <a class="menu-icon" routerLink="/pages/settings" routerLinkActive="active">
        <i class="fas fa-cogs"></i>
      </a>
    </div>
  </div>
  <div class="content">
    <div class="breadcrumb">
      {{breadcrumb | async}}
    </div>
    <router-outlet></router-outlet>
  </div>
</div>