.side-menu {
  position: absolute;
  top: 0;
  height: auto;
  min-height: 100%;
  width: 120px;
  background-color: #373E48;
  left: 0;
}

.content {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #292F37;
  left: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.account-container {
  height: 120px;
  width: 100%;
  background-color: #21252B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  color: #7B8BA2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-icon.active:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 25px;
  background: #e74c3c;
  box-shadow: 0 25px 0 #e67e22, 0 50px 0 #f1c40f, 0 75px 0 #1abc9c;
}

.menu-icon:hover {
  background-color: rgba(255,255,255,0.05);
  color: #FFFFFF;
  cursor: pointer;
}

.menu-icon i {
  font-size: 1.8em;
}

.menu-icon.active {
  color: #FFFFFF;
  background-color: #49525F;
}

.breadcrumb {
  margin-top: 80px;
  color: lighten(#616F82, 10%);
  font-size: 1.8em;
  font-weight: 700;
}

.badge {
  position: relative;
}

.badge:after{
    content:attr(data-count);
    position: absolute;
    background: #1BB9B4;
    height:1.05rem;
    top:1.2rem;
    right:2rem;
    padding: 0 8px;
    text-align: center;
    line-height: 1.05rem;;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 1.4rem;
    color:white;
    border:3px solid #1BB9B4;
}

.hide-after:after {
  display: none !important;
}

// Animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, rgba(255,255,255,0.0) 8%, rgba(255,255,255,0.1) 18%, rgba(255,255,255,0.0) 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}

.profile-image {
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #4A5360;
  height: 87px;
  width: 87px;
  transition: all .2s ease-in-out;
  @extend .animated-background;
}

.profile-image:hover {
  cursor: pointer;
  transform: scale(1.07);
}