<div class="page-container">
  <div class="form-container">
      <div id="main-login" class="login-form">
        <h3>Login</h3>
        <div>
          <input name="email" [(ngModel)]="model.email" #email="ngModel" required type="text" placeholder="Email">
        </div>

        <div>
          <input name="password" [(ngModel)]="model.password" #password="ngModel" required type="password" placeholder="Password">
        </div>

        <button id="submit-button" (click)="submit()">
          <span>Log in</span>
        </button>
      </div>
      <div id="error-login" class="thank-msg">
        <h3>{{error | async}}</h3>
        <button (click)="returnToLogin()">Try Again</button>
      </div>
    </div>
</div>