<div class="top-action">
  <button [class]="(users != null) ? '' : 'flashit'" type="button" name="button" (click)="addUser('user-modal')">Add User</button>
</div>

<table>

</table>
<div class="no-data">
  <i class="fas fa-exclamation-triangle"></i>
  <h3>You dont have any clients registered. Click the flashing button above to get started.</h3>
</div>
<jw-modal id="user-modal">
  <div class="jw-content">
    <h1>Add a client</h1>
    <div (click)="chooseFile()" class="profileImageInput">
      <span *ngIf="!user.profileImage"><i style="font-size: 1.2em;" class="fas fa-user-plus"></i></span>
      <span *ngIf="!user.profileImage" style="display: block; margin-top: 5px;">Profile Image</span>
      <img *ngIf="user.profileImage" id="imageInput" class="imageInput" alt="Profile Image">
    </div>
    <input class="hiddenProfileImageInput" (change)="imageUploaded()" id="profileImageInput" type="file" name="profileImageInput" [(ngModel)]="user.profileImage">
    <input class="jw-input" type="text" placeholder="First Name" [(ngModel)]="user.firstName" />
    <input class="jw-input" type="text" placeholder="Last Name" [(ngModel)]="user.lastName" />
    <input class="jw-input" type="text" placeholder="Email" [(ngModel)]="user.email" />
  </div>
  <div class="jw-actions">
    <button class="decline-button" (click)="closeAddUser('user-modal');">Cancel</button>
    <button (click)="closeAddUser('user-modal');">Confirm</button>
  </div>
</jw-modal>