<div class="top-action">
  <button [class]="(displays != null) ? '' : 'flashit'" type="button" name="button" (click)="addDisplay('display-modal')">Add Display</button>
</div>

<table>

</table>
<div class="no-data">
  <i class="fas fa-exclamation-triangle"></i>
  <h3>You dont have any displays registered. Click the flashing button above to get started.</h3>
</div>
<jw-modal id="display-modal">
  <div class="jw-content">
    <h1>Add a display</h1>
    <div class="inline-flex">
      <h3>1)</h3>
      <p>
        Install our custom firmware on any windows or linux based device. Find the downloads <a href="#">here</a>.
      </p>
    </div>
    <div class="inline-flex">
      <h3>2)</h3>
      <p>
        The software should run automatically and a key should be displayed in the center of the screen. This is your 'Linking Code'. Enter it Below.
      </p>
    </div>
    <input class="jw-input" type="text" placeholder="Linking Code" [(ngModel)]="display.key" />
  </div>
  <div class="jw-actions">
    <button class="decline-button" (click)="closeAddDisplay('display-modal');">Cancel</button>
    <button (click)="closeAddDisplay('display-modal');">Link</button>
  </div>
</jw-modal>