:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 50px);
  width: 90%;
  margin: 50px auto 0;
}

.top-action {
  position: absolute;
  top: 52px;
  right: 5%;
}

.hiddenProfileImageInput {
  height: 0;
  overflow: hidden;
}

.profileImageInput:hover {
  color: #7a889c;
  cursor: pointer;
}

.profileImageInput {
  height: 140px;
  width: 140px;
  font-weight: 500;
  position: relative;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  background-color: darken(#2E353E, 5%);
  color: darken(#7a889c, 20%);
  border: 2px solid #454F5D;
}

.imageInput {
  height: 140px;
  width: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.no-data {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 20px;
  background-color: #2E353E;
  border-radius: 15px;
  border: 2px solid #454F5D;
  color: lighten(#616F82, 10%);
}

.no-data i {
  font-size: 4em;
  margin-bottom: 10px;
}