<div class="graph">

</div>
<div class="widget-contiainer">
  <div id="widget-1" (click)="activate('widget-1')" [class]="activatedCheckStyles('widget-1')">
    <span class="widget-increase widget-percent"><i class="fas fa-sort-up"></i>6%</span>
    <span class="widget-value"><b>122</b></span>
    <span class="widget-type">Clients</span>
    <span class="widget-total">Total Clients</span>
  </div>
  <div id="widget-2" (click)="activate('widget-2')" [class]="activatedCheckStyles('widget-2')">
    <span class="widget-decrease widget-percent"><i class="fas fa-sort-down"></i>2%</span>
    <span class="widget-value"><b>432</b></span>
    <span class="widget-type">Used Spaces</span>
    <span class="widget-total">Out of Total Spaces</span>
  </div>
  <div id="widget-3" (click)="activate('widget-3')" [class]="activatedCheckStyles('widget-3')">
    <span class="widget-increase widget-percent"><i class="fas fa-sort-up"></i>14%</span>
    <span class="widget-value"><b>22</b></span>
    <span class="widget-type">Displays</span>
    <span class="widget-total">Total Displays</span>
  </div>
  <div id="widget-4" (click)="activate('widget-4')" [class]="activatedCheckStyles('widget-4')">
    <span class="widget-increase widget-percent"><i class="fas fa-sort-up"></i>10%</span>
    <span class="widget-value"><b>15</b></span>
    <span class="widget-type">Adverts</span>
    <span class="widget-total">Total In-House Adverts</span>
  </div>
</div>