.widget-contiainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.widget {
  width: 250px;
  height: 250px;
  opacity: 0.5;
  border-radius: 20px;
  margin: 0 20px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: all ease-in-out 0.1s;
}

.widget:first-child {
  margin-left: 0;
}

.widget:last-child {
  margin-right: 0;
}


.widget.active {
  opacity: 1.0;
  background-color: #2E353E;
  border: 2px solid #454F5D;
}

@keyframes colorchange
{
  0%   {background-color: #292F37; border: 2px solid transparent;}
  100% {background-color: #2E353E; border: 2px solid #454F5D;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background-color: #292F37; border: 2px solid transparent;}
  100% {background-color: #2E353E; border: 2px solid #454F5D;}
}

.widget:hover {
  cursor: pointer;
  opacity: 1.0;
  animation: colorchange 0.3s forwards;
  -webkit-animation: colorchange 0.3s forwards;
}

.widget.active:hover {
  cursor: default;
  animation: none;
  -webkit-animation: none;
}

.widget-percent {
  font-size: 25px;
  font-weight: lighter;
}

.widget-percent i {
  display: inline-block;
  margin-right: 5px;
}

.widget-increase i {
  color: #55FF5D;
  font-size: 20px;
}

.widget-decrease i {
  color: #D6302E;
  font-size: 20px;
}

.widget-value {
  font-size: 3em;
}

.widget-type {
  font-weight: 200;
  font-size: 1.8em;
}

.widget-total {
  color: #414D59;
}

.graph {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
  padding: 200px 20px;
  background-color: #2E353E;
  border-radius: 15px;
  border: 2px solid #454F5D;
  color: lighten(#616F82, 10%);
}