* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  padding: 0;
  margin:0;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #292F37;
  color: #F9FAFA;
  font-family: 'Lato', sans-serif;
}

.initialise-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flashit {
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  box-shadow: 0 0 0 0 rgba(31, 214, 208, 0.6);
}

.flashit:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(31, 214, 208, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(31, 214, 208, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 25px rgba(31, 214, 208, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 25px rgba(31, 214, 208, 0);}}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

button {
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
  border: 1px solid #1FD6D0;
  background-color: #284047;
  font-weight: 500;
  font-size: 1.3em;
  width: 200px;
  height: 50px;
  color: #EFEFEF;
  transition: all ease-in-out 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: darken(#284047, 2%);
}

.decline-button {
  border: 1px solid rgba(231, 76, 60, 1.0);
  background-color: rgba(192, 57, 43, 0.3);
}

.decline-button:hover {
  cursor: pointer;
  background-color: darken(rgba(192, 57, 43, 0.3), 10%);
}


/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;
}

jw-modal .inline-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

jw-modal h3 {
  font-size: 2.5em;
  margin: 0 20px 0 0;
}

.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;
}

.jw-modal-body {
    padding: 20px;
    background-color: #2E353E;
    border-radius: 15px;
    border: 2px solid #454F5D;
    color: lighten(#616F82, 10%);
    max-width: 100%;
    width: 600px;
    position: relative;
    display: block;
    /* margin exposes part of the modal background */
    margin: 40px auto;
}

.jw-content {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jw-input {
  width: 90%;
  height: 50px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 30px;
  margin: 10px 5px 0;
  background-color: darken(#2E353E, 5%);
  color: #7a889c;
  border: 2px solid #454F5D;
  font-weight: 500;
  font-size: 1.3em;
  transition: all ease-in-out 0.4s;
}

.jw-input::placeholder {
  color: darken(#7a889c, 20%);
}

.jw-input:focus::placeholder {
  color: #7a889c;
}

.jw-actions {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.jw-actions button {
  margin-top: 0;
  margin-right: 10px;
}

.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
